body {
    color: black;
    font-family: Circular-Book-S,HelveticaNeue-Light,'Helvetica Neue Light','Helvetica Neue',Helvetica,Arial,Sans-Serif;
    font-weight: 100;
    text-rendering: optimizeLegibility !important;
    background-color: #e5fbdb;
}

header {
  font-family: Circular-Book-S,HelveticaNeue-Light,'Helvetica Neue Light','Helvetica Neue',Helvetica,Arial,Sans-Serif;
  color: black;
}

h2 {
  margin-top: 100px;
  margin-bottom: inherit;
}
.title
  {
  color: black;
  position: relative;
}
.videos
{
margin-left: 100px;
margin-top: 100px;
}

.q-gradient-purple {
    background: #ff00f3;
    background: linear-gradient(45deg,#ff00f3 0,#9a0afa 100%);
}
